* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/main_small_portrait.jpg);
    overflow: hidden;
    @include mq(smartphone) {
        background-image: url(../assets/main_small_landscape.jpg);
    }
    @media (min-width: 460px) and (orientation: portrait) {
        background-image: url(../assets/main_large.jpg);
    }
    @include mq(tablet) {
        background-image: url(../assets/main_large.jpg);
    }
    @include mq(desktop-small) {
        background-image: url(../assets/main_large.jpg);
    }
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    @include mq(desktop-small) {
        max-width: 1024px;
        margin: 0 auto;
    }
    @include mq(desktop-medium) {
        max-width: 1280px;
    }
}
